*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #2a72f81e;
  height: 100vh;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.2;
  margin-bottom: 5rem;
}

.main-title{
  font-size: 4rem;
  padding: 1rem 0 2rem 0;
  margin-top: 1rem;
  color: #2a72f8;
  margin-bottom: auto;
}

.sub-title{
  font-size: 25px;
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: auto;

}

.bill-entry, .customer-cash{
  width: 100%;
  height: 5rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label{
  font-size: 25px;
}

.bill-amount, .cash-given{
  font-size: 25px;
  border: 2px solid #2a72f8;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 2rem;
}

.notes-returned{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.notes-btn {
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: #2a72f8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 2px solid #000000;
}

.notes-btn:hover {
  background: #055cfd;
  text-decoration: none;
  cursor: pointer;
}

.message{
  font-size: 25px;
  margin: 3rem;
  text-align: center;
}

.notes-returned{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

table{
  border-collapse: collapse;
  white-space: nowrap;
}

td, th{
  padding: 20px;
  border: 2px solid #2a72f8;
  text-align: center;
}

.icons{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.icons i{
  margin: 0 2rem;
  color: black;
}

.icons i:hover{
  color: white;
}

.bottom-container{
  background-color: #4684f8;
  height: 100px;
  width: 100%;
  margin-top: auto;
  padding: 1rem 0;
}

.footer-link{
  font-size: 1rem;
  display: inline-block;
}

.copyright{
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5rem;
}